---
import MainLayout from '../../layouts/main-layout.astro';
import { getLangFromUrl, useTranslatedPath } from '../../i18n/utils';
import { ui } from '../../i18n/ui';
import { Image } from 'astro:assets';
import MainButton from '../../components/main-button';
import FamaraView from '../../icons/famara-view.astro';
import MainLogo from '../../icons/main-logo.astro';

const lang = getLangFromUrl(Astro.url) as string;
const translatePath = useTranslatedPath(lang);

let reviews;
let services;

try {
  reviews = (await import(`../../data/${lang}/reviews.ts`)).reviews;
  services = (await import(`../../data/${lang}/services.ts`)).services;
} catch (error) {
  console.error(`Error loading data for language "${lang}":`, error);
  reviews = [];
  services = [];
}
---

<MainLayout title={`${ui[lang].nav.title}`}>
	<!-- Banner -->
	<section
		class="w-full bg-index bg-no-repeat bg-cover min-h-screen sm:h-[75vh] lg:min-h-[110vh] px-12 xl:px-0 flex items-center"
		style="box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.5);"
	>
		<div
			class="lg:max-w-[1200px] w-full mx-auto flex flex-col items-center justify-center py-8"
		>
			<MainLogo />
			<MainButton text={ui[lang].button.discoverMore} to={translatePath('/properties')} />
		</div>
	</section>

	<!-- Services Section -->
	<section class="lg:max-w-[1200px] w-full mx-auto pt-16 lg:pt-24">
		<h2
			class="text-[30px] text-center capitalize font-dm tracking-wide lg:max-w-[60%] leading-8 md:leading-[62.50px] md:text-[50px] mx-auto text-text-blue"
		>
			{ui[lang].index.servicesTitle}
		</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 lg:gap-y-10 mt-4">
			{
				services.map((service: any) => {
					return (
						<div class="w-full col-span-1 max-w-[250px] mx-auto flex rounded-[15px] hover:bg-primary-300 px-3 py-[40px] flex-col justify-center items-center gap-2 md:gap-3 shadow-sm">
							<Image src={service.icon} alt={service.title} width={40} height={40} />
							<h3 class="text-text-blue font-dm text-[20px] md:text-[22px] leading-loose text-center">
								{service.title}
							</h3>
							<p class="text-base md:text-[20px] tracking-tight font-jost text-text-gray leading-[30px] text-center">
								{service.text}
							</p>
						</div>
					);
				})
			}
		</div>
	</section>

	<!-- Famara Beach Section -->
	<section
		class="w-full lg:max-w-[1200px] mx-auto px-12 xl:px-0 flex flex-col-reverse justify-center items-center lg:grid grid-cols-2 gap-[50px] pt-16 lg:pt-24"
	>
		<div class="flex flex-col gap-8 max-w-[472px] items-center lg:items-start">
			<h2
				class="text-[30px] text-center capitalize lg:text-left font-dm tracking-wide leading-8 md:leading-[62.50px] md:text-[50px] text-text-blue"
			>
				{ui[lang].index.famaraBeachTitle}
			</h2>
			<p
				class="text-base md:text-[22px] text-center lg:text-left tracking-tight font-jost text-text-gray leading-[33px]"
			>
				{ui[lang].index.famaraBeachDescription}
			</p>
		</div>

		<FamaraView />
	</section>

	<!-- What People Think About Us Section -->
	<section class="lg:max-w-[1200px] px-12 xl:px-0 w-full mx-auto pt-16 lg:pt-24">
		<div class="w-full flex flex-col bg-primary-300 rounded-[48px] px-6 py-[48px]">
			<h2
				class="font-dm tracking-wide text-center leading-[37px] lg:leading-[62.50px] text-[30px] lg:text-[50px] w-full lg:max-w-[75%] pb-9 mx-auto"
			>
				{ui[lang].index.reviewsTitle}
			</h2>
			<div class="flex flex-col gap-6 lg:gap-8 lg:flex-row justify-between">
				{
					reviews.map((rev:any) => {
						return (
							<div class="w-full bg-white max-w-[370px] px-[40px] py-[40px] rounded-3xl mx-auto flex flex-col justify-center items-center gap-4 md:gap-6">
								<div class="flex flex-col gap-4 items-center">
									<p class="flex flex-col tracking-tight leading-7 text-center">
										<span class="text-primary-200 text-lg lg:text-[25px] font-dm">
											{rev.title}
										</span>
										<span class="text-text-gray-200 text-lg lg:text-[20px] font-jost">
											{rev.info}
										</span>
									</p>
								</div>
							</div>
						);
					})
				}
			</div>
		</div>
	</section>
</MainLayout>

<style>
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
</style>
